<div class="stage" *ngIf="teamsReady; else error">
  <rbo-robot-team
    [left]="true"
    [team]="leftTeam"
    [teamResult]="teamResult"
    [showRobotResults]="danceOffFinished"
    class="stage-area"
  ></rbo-robot-team>
  <mat-card class="stage-area dance-off-stage">
    <ng-container *ngIf="!dancing">
      <mat-card-title>The Big Stage</mat-card-title>
      <mat-card-content>
        <p>Enter the team name above each team and</p>
        <button
          mat-raised-button
          color="primary"
          [disabled]="!readyToDance"
          (click)="performDanceCompetition()"
        >
          Start dancing!
        </button>
      </mat-card-content>
    </ng-container>
    <rbo-robot-duel *ngIf="dancing" [duel]="danceResult$ | async">
      <div>
        <p>
          The dance-off is over. If you are interested, head over to the
          <a routerLink="/leaderboard">leaderboard.</a>
        </p>
        <p>
          <button mat-raised-button color="primary" (click)="restart()">Dance again!</button>
        </p>
      </div>
    </rbo-robot-duel>
  </mat-card>
  <rbo-robot-team
    [team]="rightTeam"
    [teamResult]="teamResult"
    [showRobotResults]="danceOffFinished"
    class="stage-area"
  ></rbo-robot-team>
</div>

<ng-template #error>
  <mat-card>
    Teams couldn't be formed. Please refresh.
  </mat-card>
</ng-template>
