@import 'responsive';
@import 'variables';


div.stage {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @include larger-than(tablet) {
    flex-direction: row;
  }

  div.robot-team {
    flex: 1;
  }
  .dance-off-stage {
    margin: 0 $universal-padding;
    text-align: center;
    align-self: center;
    button {
      text-transform: uppercase;
    }
  }
}

.stage-area {
  & + & {
    margin-top: $universal-padding;
    @include larger-than(tablet) {
      margin-top: 0;
    }
  }
}
