@import 'variables';
@import 'responsive';

// just adding the overall layout
main {
  box-sizing: border-box;
  display: block;
  padding: $body-y-padding;
  @include larger-than(tablet-landscape) {
    max-width: $body-max-width;
    margin: 0 auto;
    padding: $body-y-padding 0;
  }

  // box-shadow: 0 0 2px 2px tomato; // make it visible during development
}
span.nav-btn {
  padding-left: 1rem;
}
