mat-card {
  text-align: center;
  min-height: 20rem;
  background-color: white;
  /**
  * Image credit: https://icons.istardesign.com/
  **/
  background-image: url('src/assets/images/404-robot.svg');
  background-position: center 500%;
  background-repeat: no-repeat;
  background-size: 20rem;
}
