@import 'animate';
@import 'responsive';

div.duel-area {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  div.robot-avatar {
    width: 30%;
    img {
      width: 100%;
    }

  }
}
